.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid rgb(206, 212, 222);
}

.container {
  padding: 20px;
  flex: 1;
}

.menu {
  background-color: rgb(246, 247, 249);
  border-left: 1px solid rgb(206, 212, 222);
  width: 250px;
  text-align: left;
  padding: 8px;
}
